<mat-card>
  <mat-card-subtitle class="flex-center">{{formattedDate}}</mat-card-subtitle>
</mat-card>

<div *ngFor="let task of tasks; index as i">
  <mat-card-content>
    <div *ngIf="editingId !== task.id">
      <mat-card [ngClass]="{'completed': task.completed}">
        <mat-card-header>
          <mat-card-title>{{task.title}}</mat-card-title>
          <mat-card-subtitle class="flex-center">
            <mat-icon class="icon-schedule">schedule</mat-icon>  {{task.dueDate}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="task-content">
          <p>{{task.content}}</p>
        </mat-card-content>


        <div *ngIf="task.subtasks && task.subtasks.length > 0" class="subtask-block">
          <div *ngFor="let subtask of task.subtasks" class="subtask-item">
            <mat-card-header class="subtask-header">
              <mat-card-title>{{subtask.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-subtitle class="subtask-due-date flex-center">
              <mat-icon class="icon-schedule">schedule</mat-icon>  {{subtask.dueDate}}
            </mat-card-subtitle>
            <mat-card-content class="subtask-content">
              <p>{{subtask.content}}</p>
            </mat-card-content>

            <mat-card-actions class="subtask-actions">
              <button mat-button color="primary" (click)="toggleSubtaskStatus(task.id, subtask.id)">
                <mat-icon>{{subtask.completed ? 'undo' : 'done'}}</mat-icon>
<!--                {{subtask.completed ? 'Вернуть в работу' : 'Завершить'}}-->
              </button>
              <button mat-button color="warn" (click)="removeSubtask(task.id, subtask.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-actions>
          </div>
        </div>

        <mat-card-actions class="flex-space-between">
          <mat-card-footer>
            <button mat-button color="primary" (click)="toggleTaskStatus(task.id)">
              <mat-icon>{{task.completed ? 'undo' : 'done'}}</mat-icon>
              {{task.completed ? 'Вернуть в работу' : 'Завершить'}}
            </button>
            <button mat-flat-button color="secondary" (click)="addSubtask(task.id)">

              <mat-icon  class="icon-add">add</mat-icon>
              Подзадача</button>
          </mat-card-footer>




          <div>
            <button mat-button color="warn" (click)="removeTask(task.id)">Удалить</button>
          </div>
        </mat-card-actions>
        <button mat-icon-button color="accent" (click)="openEditDialog(task)" class="edit-button">
          <mat-icon>edit</mat-icon>
        </button>


      </mat-card>
    </div>
    <div *ngIf="editingId === task.id">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Заголовок" [(ngModel)]="task.title">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Срок исполнения" [(ngModel)]="task.dueDate" type="date">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Задача" [(ngModel)]="task.content">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="saveTask(task.id, task.title, task.dueDate.format('YYYY-MM-DD'), task.content)">Сохранить</button>
    </div>



  </mat-card-content>
</div>

<!--<form [formGroup]="taskForm" (ngSubmit)="addTask()">-->
<!--  <mat-form-field class="example-full-width">-->
<!--    <input matInput placeholder="Заголовок" formControlName="title">-->
<!--    <mat-error *ngIf="taskForm.controls['title'].invalid && taskForm.controls['title'].touched">Это поле обязательно</mat-error>-->
<!--  </mat-form-field>-->
<!--  <mat-form-field>-->
<!--    <input matInput [matDatepicker]="picker" formControlName="dueDate" placeholder="Срок исполнения">-->
<!--    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--    <mat-datepicker #picker></mat-datepicker>-->
<!--    <mat-error *ngIf="taskForm.controls['dueDate'].invalid && taskForm.controls['dueDate'].touched">Введите правильную дату</mat-error>-->

<!--  </mat-form-field>-->
<!--  <mat-form-field class="example-full-width">-->
<!--    <textarea matInput  placeholder="Описание задачи" formControlName="content"></textarea>-->
<!--    <mat-error *ngIf="taskForm.controls['content'].invalid && taskForm.controls['content'].touched">Это поле обязательно</mat-error>-->
<!--  </mat-form-field>-->
<!--  <button mat-raised-button color="primary" type="submit">Добавить задачу</button>-->
<!--</form>-->


<div  *ngIf="tasks && tasks.length > 0">
  <button mat-raised-button color="primary" (click)="openAddTaskDialog()">Добавить задачу</button>

</div>




<div class="empty-message" *ngIf="!tasks || tasks.length === 0">
    <div>
      <p>Пока нет задач на этот день</p>

  <p>Пожалуйста добавьте новую задачу для текущего дня</p>
    </div>
      <button mat-flat-button color="primary" (click)="openAddTaskDialog()">Добавить задачу</button>
</div>
