.inline-calendar-card {
  width: 300px;
  margin: 0 auto;
}
.inline-calendar-p {
  text-align: center;
  margin: 0 auto;
}

/*::ng-deep .special-date .mat-calendar-body-cell-content {*/
/*  background-color: #23aadb;*/
/*}*/


/*::ng-deep .overdue .mat-calendar-body-cell-content {*/
/*  background-color: #f00;*/
/*}*/

/*::ng-deep .completed .mat-calendar-body-cell-content {*/
/*  background-color: #0f0;*/
/*}*/

/*::ng-deep .pending .mat-calendar-body-cell-content {*/

/*}*/


::ng-deep  .past-uncompleted-task .mat-calendar-body-cell-content {
  background-color: red;
}

::ng-deep .future-task .mat-calendar-body-cell-content {
  background-color: #a2a7b4;
}


::ng-deep .all-tasks-completed .mat-calendar-body-cell-content {
  background-color: #0c946c;
}
