.inline-calendar-card {
  width: 400px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .inline-calendar-card {
    width: 100%;
  }
}
.inline-calendar-p {
  text-align: center;
  margin: 20px auto 0;
  color: #a2a7b4;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

/*::ng-deep .special-date .mat-calendar-body-cell-content {*/
/*  background-color: #23aadb;*/
/*}*/



::ng-deep  .past-uncompleted-task .mat-calendar-body-cell-content {
  background-color: red;
}

::ng-deep .future-task .mat-calendar-body-cell-content {
  background-color: #a2a7b4;
}


::ng-deep .all-tasks-completed .mat-calendar-body-cell-content {
  background-color: #0c946c;
}
